NEXT_PUBLIC_APP_URL=http://localhost:3000

# Postgres
MONGODB_URI="mongodb://localhost:27017/migram"

# Clerk
CLERK_SECRET_KEY=
CLERK_WEBHOOK_AUTH_SECRET=
NEXT_PUBLIC_CLERK_API_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
# Set this environment variable to support webhooks — https://stripe.com/docs/webhooks/signatures
STRIPE_WEBHOOK_SECRET=
STRIPE_RETURN_URL="http://localhost:3000"
STRIPE_REFRESH_URL="http://localhost:3000"